*{  
    margin: 0;
    padding-left: 5%;
    padding-right:5%;
    background-color:skyblue ;
    font-family:Arial, Helvetica, sans-serif
}
.navbar{
    border-bottom: 2px solid black;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin: 5px;
}
.navbar div:hover{
    background-color:black;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.main{
    
    display: flex;
    flex-direction:column;
    height: 500px;
    justify-content: space-evenly;
}
span{
    color: white;
}
.center{
    text-align: center;
}
.c1 {
    text-align: center;
    font-weight: 200;
    font-size: 50px;
}
.c2
{
    font-size: 30px;
    
}
.c3{
    font-size: 15px;
}
.skills{
    cursor: default;
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 5px 5px;
    color: white;
}
p{
    text-align: center;
    font-size: larger;
    font-weight: 700;
}

.in{
    text-align: center;
    border-radius: 5px;
    background-color: red;   
}
.last{
    text-align: center;   
    margin: 100px;
    position: relative;
   
}
#id{

    
    margin: 30px;
    font-size: small;
    background-color: white;
    color: black;
    border-radius: 5px;
    width: fit-content;
    
}
